.question {
    /* display: block; */
    /* width: 100%; */
    /* border: none; */
    /* background-color: #04AA6D; */
    /* color: white; */
    padding: 0px 150px; /*150px*/

    font-size: 150px;
    /* font-size: 10vw; */

    /* text-orientation: upright; */
    /* cursor: pointer; */
    /* text-align: center; */
}

.answer {
    /* display: block; */
    /* width: 100%; */
    /* border: none; */
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 0px 50px; */

    font-size: 100px;
    /* font-size: 6vw; */

    /* cursor: pointer; */
    /* text-align: center; */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 25px);
    border: 3px solid green; 
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:calc(100vh - 25px); */
    border: 3px solid green; 
    flex-direction: row;
}